body{
    background: #f8f8f8;
    font-family: 新宋体;
}
.wrapper{
    width:1190px;
    margin:0 auto;
}
.article-banner .pic{
    margin-top: 20px;
    position: relative;
}
.article-banner .pic img{
    display: block;
}
.article-banner h2{
    position: absolute;
    left: 120px;
    bottom:8px;
    font-size: 24px;
    color: #fff;
    font-weight: 700;
}
.article-banner .info{
    height: 70px;
    border:1px solid #e9e9e9;
    border-top: 0;
    position: relative;
    background-color: #fefefe;
    box-shadow: 0 0 3px #ddd;
}

.author-data{
    color:#999;
    display: inline-block;
    position: relative;
    left: -20px;
    top: -30px;
}
.article-banner .author-data span{
    padding:0 10px;
    border-left: 1px solid #ccc;
}
.note1{
    margin-top: 30px;
    margin-left: 40px;
}
.mainCon{
    float:left;
    width:862px;
}
.content-article{
    padding:20px 30px;
    line-height: 26px;
    word-wrap: break-word;
}
.content-article p{
    font-weight: normal;
    margin: 5px 0 5px;
    color: #000000;
    font-size:18px;
}
.content-article strong {
    font-weight: bold;
    font-size: 24px;
}
.content-article img.selected {
    box-shadow: 0 0 0 4px #cccccc;
}
.content-article img {
    cursor: pointer;
    margin: 5px 5px;
    vertical-align: middle;
}
